<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        let arr = [
            {
            price: 44,
            num: 7,
            pe: 4,
            total: 28,
            money: 220
        },
        {
            price: 122,
            num: 16,
            total: 16,
            money: 122
        },
        {
            price: 0,
            num: 6,
            total: 18
        }]
        
    </script>
</head>
<body>
    
</body>
</html>